<h1>martinn6's Home Page</h1>
<ul>
	<li><a href="http://52.10.4.121:3000/other-page">The Other Page</a></li>
	<li><a href="http://52.10.4.121:3000/randomnum">Random Number Page</a></li>
	<li><a href="http://52.10.4.121:3000/getPost?foo=bar">Get/Post Page</a></li>
</ul>
